
/* HOME SCREEN */

#home-title {
	color: white;
	position: fixed;
	top: 50px;
	left: 50%;
	transform: translateX( -50% );
	z-index: 1;
}

#home-screen {
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #0e0024;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
}

	#home-dialogue {
		padding: 50px;
		border: solid white 1px;
		color: white;
	}

	#home-dialogue div {
		margin: 10px 0;
	}

		#home-dialogue div:hover {
			cursor: pointer;
			background-color: grey;
		}

/* CONSOLE */

#console {
	top: 0;
	left: 0;
	height: 100px;
	width: 100vw;
	padding: 10px;
	font-size: 1.2em;
	position: fixed;
	background-color: rgba( 0, 0, 0, 0.5 );
	border: solid white 1px;
	box-sizing: border-box;
	overflow-y: auto;
}

	.console-line.help {
		color: white;
	}

	.console-line.warning {
		color: yellow;
	}

	.console-line.error {
		color: #ff4242;
	}

/* TURN PANEL */

#turn-panel {
	bottom: 0;
	left: 0;
	height: 60px;
	width: 500px;
	position: fixed;
	background-color: rgba( 0, 0, 0, 0.5 );
	border: solid white 1px;
	box-sizing: border-box;
}

/* PLANET PANEL */

#planet-panel {
	bottom: 0;
	right: 0;
	height: 90px;
	width: 250px;
	position: fixed;
	background-color: rgba( 0, 0, 0, 0.5 );
	border: solid white 1px;
	box-sizing: border-box;
	text-align: center;
	color: white;
}

	#planet-panel * {
		margin: 10px 0;
	}

	#planet-panel-flex {
		display: flex;
		justify-content: center;
	}

		#planet-panel-flex div {
			background-color: rgba( 0, 0, 0, 0.5 );
			border: solid white 1px;
			box-sizing: border-box;
			height: 30px;
			width: 30px;
			margin: 0 10px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

			#planet-panel-flex div:hover {
				cursor: pointer;
			}